<a href="https://github.com/zhdevelop"><img style="position: absolute; top: 0; left: 0; border: 0; width: 120px; height: 120px;" src="https://github.com/zhdevelop/zhdevelop.github.io/blob/master/img/left-turquoise2x.png?raw=true" alt="Fork me on GitHub"></a>
<div class="alignleft">
  <h1><a href="<%- config.root %>"><%= config.title %></a></h1>
  <h2><a href="<%- config.root %>"><% if (config.subtitle){ %><%= config.subtitle %><% } %></a></h2>
</div>
<nav id="main-nav" class="alignright">
  <ul>
    <% for (var i in theme.menu){ %>
      <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
    <% } %>
    <li> <a href="/atom.xml">RSS</a> </li>
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div>